* {
  /*outline: 1px solid red !important;*/
  /*min-width: 600px;*/
  max-width: 1500px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.title {
  background-color: #33bebe;
  color: white;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 10px;
  font: 30px helvetica;
  min-width: 950px;
}
.app {
  display: -webkit-flex;
  display: flex;
}

.screenshot {
  max-width: 380px;
  margin-right: 15px;
  max-height: 314px;
  width: 40%;
  min-width: 302px;
  height: 40%;
}

.description {
  color: gray;
  max-height: 280px;
  min-width: 620px;
}

.footer {
  /*max-width: 100px;*/
  padding-top: 20px;
}
